* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.primary-blue {
  color: #2773ff;
}

.secondary {
  color: #829dc3;
}

.purple {
  color: #6e55ff;
}

.success {
  color: #16c79a;
}

.text-primary {
  --primary-color: #0f2744 color: #0f2744;
}

.text-secondary {
  color: #728095;
}

.disabled {
  color: #e0e4eb;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

}


.text-3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.text-4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.002em;
}

.text-5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
}

.overline-2 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.overline-1 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.body-b2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.body-b1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.body-c1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.body-c2 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.label-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}


.btn {
  color: #0F2744;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color ease 300ms;
}

.btn:hover,
.btn:focus {
  background-color: #F3F5F9;
}

.btn-primary {
  color: #fff;
  background-color: #2773FF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #1b51b3;
}

.btn-warning {
  color: #fff;
  background-color: orange;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #ff9800;
}

.btn-large {
  padding: 14px 16px;
}

.btn-small {
  padding: 7px 8px;
}

.text-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #c1c7cf;
  border-radius: 4px;
  color: #728095;
  padding: 14px 12px;
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;

}

.container {
  display: grid;
  grid-template-columns: 240px 1fr;
  position: relative;
}

.left-side {
  display: flex;
  flex-direction: column;
  border-right: solid 1px #e6eaee;
  height: 100vh;
}

.left-side .logo {
  margin: 40px 100px 120px 100px;
}

.left-side ul li {
  display: flex;
  align-items: center;
}

.left-side li a {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: auto;
  color: #728095;
}

.left-side li a.active {
  color: #000000;
}

.left-side li svg {
  margin-left: 25px;
  margin-right: 15px;

}

.left-side .box-user {
  display: flex;
  align-items: center;
  margin-left: 16px;
  background-color: #f4f5f8;
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: 32px;
}

.box-user img {
  padding: 8px;
}

.box-user .chevron {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 43px;

}

.box-user span {

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}



.right-side {
  max-width: 100%;

}

.right-side .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6eaee;
}


.right-side .search {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.search #search {
  border: none;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.search input::placeholder {
  color: #abb8ca;
}

.right-side .notification {
  padding: 20px 40px;
}

.right-side .main {
  padding: 0 40px;
}

.main .main-text .text-secondary {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-text {
  margin-top: 24px;
  margin-bottom: 38px;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  background: #FFFFFF;
  border: 1px solid #E6EAEE;
  box-shadow: 0px 8px 24px rgba(21, 21, 22, 0.04);
  border-radius: 8px;
  padding: 16px;
  margin-right: 16px;
}

.main .main-box .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.main-box .box:last-child {
  margin-right: 0;
}

.box-sapn {
  background: #E8F9F5;
  border-radius: 4px;
  padding: 1px 4px;
  color: #16C79A;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-end;
  margin-bottom: 6px;
  margin-left: 4px;
}

.box .icon {
  background: rgba(212, 227, 255, 0.5);
  border-radius: 32px;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.sales-active {
  margin-top: 24px;
  display: flex;


}


.box-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.box-nav .text-5 {
  padding-bottom: 11px;
}

.box-nav::after {
  content: '';
  position: absolute;
  width: calc(100% + 36px);
  height: 1px;
  background-color: #E6EAEE;
  bottom: 0;
  right: -16px;
}

.box-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-nav ul li {
  margin-left: 20px;
  padding-bottom: 14px;
}

.box-nav .active,
.box-nav ul li:hover {
  color: #000000;
  border-bottom: 2px solid #2773FF;
}

.box-active {
  position: relative;
  padding: 0;
  min-width: 273px;
  margin-right: 0;
}

.box-active .text-5 {
  padding: 13px 0 13px 16px;
}

.box-active .users::before {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 1px;
  background-color: #E6EAEE;
  right: -1px;
}

.users {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 368px;
}

.users .user {
  display: flex;
  align-items: center;
  padding-top: 17px;

}

.users .user img {
  padding: 0 12px;
}


table button {
  border: none;
  background: none;
  float: right;
  margin-right: 20px;
}

table.box {
  border-collapse: collapse;
  margin-top: 24px;
  text-align: left;
  margin-right: 0;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #E6EAEE;

}

th.right,
td.right {
  text-align: right
}

th {
  padding: 16px 0 16px 16px;
}

th.list-text {
  padding: 14px 0 14px 16px;
  background-color: #F3F5F9;
}

td {
  padding: 10px 0 10px 16px;
}

/* -------------------------------------------------Social----------------------------------------- */
ul.dashboard {
  margin-left: 48px;
}

.social-main {
  margin: 24px 88px 0 88px;
}

.social-main .header-img {
  position: relative;
}

.inside {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 136px;

}

.inside img {
  position: absolute;
  left: 40px;
  bottom: -14px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-nav {
  display: flex;
  align-items: center;
  margin-top: 83px;
  position: relative;

}

.social-nav li {
  padding-right: 20px;

}

.social-nav li a {
  padding-bottom: 10px;
}

.social-nav li a.active,
.social-nav li a:hover {
  color: #000000;
  border-bottom: 2px solid #2773FF;

}

.social-nav::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E6EAEE;
  bottom: -10px;
}


.post-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.post-box .post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-info {
  padding: 16px 0;
}

.box-info .box-info-img {
  padding-top: 16px;
  padding-bottom: 21px;
}

.emoji {
  display: flex;
  align-items: center;

}

.emoji .box {
  padding: 12px;
}

.social-Connections {
  display: flex;
  margin-top: 26px;
}

.Connections-box {
  min-width: 372px;
  position: relative;

}

.Connections-box .users {
  margin-top: 20px;
}

.users .action-box {
  margin-left: auto;
  padding: 8px;
  margin-right: 0;
}



.user img.tik {
  padding: 0;
  display: none;
  margin-left: auto;
}

.user img.box:hover {
  display: none;

}

.action-box:hover img.tik {
  display: block;
}

.action-box:hover img.box {
  display: none;
}

.Connections-box h5::after {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 1px;
  background-color: #E6EAEE;
  right: -1px;
  top: 50px;
}

.Connections-box .user img.box {
  width: 32px;
  height: 32px;
}

/* ------------------------------------------account------------------------------------------------------ */
.account-main {
  margin: 24px 88px 0 88px;

}

.account-main .nav ul {
  display: flex;
  align-items: center;
  margin: 42px 0;
}

.account-main .nav {
  position: relative;
}

.account-main .nav ul::after {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 1px;
  background-color: #E6EAEE;
  bottom: 1px;
}

.account-main .nav li {
  margin-right: 20px;
  padding-bottom: 10px;
}

.account-main .nav li:hover {
  border-bottom: 1px solid #2773FF;
}

.account-potho {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e6eaee;
  padding-bottom: 32px;
}

.account-potho img.potho {
  margin-right: 24px;
}

.account-potho img.frame {
  margin: 0;
  position: absolute;
  bottom: 12px;
  left: 27px;
}

.account-form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 24px;
  position: relative;

}

.account-form .input-box input {
  min-width: 501px;
}

.account-form .input-box label {
  display: block;
}

.account-main button {
  margin-top: 30px;
  margin-bottom: 50px;

}

.account-main .account-form::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E6EAEE;
  bottom: -100px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin: 10px 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked~.slider {
  background-color: #2773FF;
}

input:checked~.slider:before {
  transform: translateX(120%);
  background-color: #fff;
}

.toggle-p {
  display: flex;
  align-items: center;
}

.toggle-p p {
  margin-left: 12px;
}

@media only screen and (max-width: 600px) {
  .left-side {
    display: none;
  }

  .container {
    display: initial;
  }

  .main-box {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 50%;
  }

  .box .icon {
    margin-left: 14px;
  }

  .sales-active {
    display: initial;

  }

  .box {
    margin-right: 0;
    margin-top: 20px;
  }

  /* --------------------------------social-------------------------- */
  .social-main {
    margin: 24px 20px 0 20px;
  }

  .inside {
    margin-left: 75px;
  }

  .header-img .inside img {
    left: 20px;
    bottom: 13px;
    width: 50px;
  }

  .social-Connections {
    flex-wrap: wrap;
  }

  .box-info .box {
    margin-top: 0;
  }

  .Connections-box {
    min-width: 100%;
  }

  /* -------------------------------Account------------------------------- */
  .account-main {
    margin: 24px 20px 0 20px;
  }

  .account-form {
    grid-template-columns: 1fr;
  }

  .account-form .input-box input {
    width: 100%;
  }
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
  z-index: 1;

}